
.App {
  text-align: center;
}


.link {
  text-decoration: none;
  color: rgb(78, 78, 78);
  cursor: pointer;
}
.link:hover{
  text-decoration:underline;
  color:rgb(56, 56, 56);
  text-shadow: none;
}

.input{
  width: 100%;
  max-width: 600px;
}
.list{
  padding: 5px;
  margin: 2%;
}
.add-url{
  padding: 2%;
}
.btn-link{
  text-decoration: none;
  color:rgb(37, 37, 37)
}
.btn-link:hover{
  color:#2668a5
}
.btn:focus{
  outline: none;
  box-shadow:none;
}


/* fresh */


.pad{
  margin: 2%;
  padding: 2%;
  color: #252525;
  font-family:'Roboto', sans-serif;
  text-align: center;
}

.header{
  padding: 2%;
  background-color: #ffd500;
  min-height: 65vh;
  /* border-radius: 0 0 0 calc(10px + 35vh); */
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-bottom: 60px;
}

.header-img{
  width: 40vw;
}
/* #331068 */
.header-text{
  color: #ffe561;
  font-size: calc(10px + 7vh);
}

.nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #fff;
  color: black;
  font-family: "advent";
  position: fixed;
  z-index: 2;
  margin-bottom: 10px;
}

.nav-btn{
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  color: white;
  align-items: center;
  position: fixed;
  z-index: 3;
}

.collopse-nav{
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: top;
  /* align-items: center; */
  padding-top: 100px;
  height: 100vh;
  color:rgb(37, 37, 37);
  width:300px;
  background-color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  position: static;
  z-index: 2;
  transform : translateX(-100vw);
  transition: transform 5s ease-in-out;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-color: transparent !important;
    -webkit-border-radius : 50px !important;
    -webkit-z-index: 1 !important ;
}

.walk-holder{
  background-color: #ffd500;
  padding: 4%;
  border-radius: 100px 100px 300px 0;
  max-height: 50vh;
}

/* loader */


.loader {
  border-radius: 50%;
  border-top: 1px rgba(37, 37, 37, 0) solid;
  border-left: 2px rgb(37, 37, 37) groove;
  border-bottom: 2px rgb(39, 39, 39) groove;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

a{
  text-decoration: none;
  color: #ffd500;
}

a:hover{
  text-decoration: underline;
  color: #ffd500;
}

.link-card{
  box-shadow: 0 0 15px 1px rgb(54, 83, 54);
  border: none;
  padding: 10px;
  margin: 1%;
  margin-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: center;
  border-radius: 15px;
}
.link-card img{
  width: 100%;
}
small,p{
  color:#264636;
}


/* status styles start */

.active-status{
  padding: 6px 15px 6px 15px ;
  border : 1px solid #02b35a;
  color : #02b35a;
  border-radius: 10px;
}

.closed-status{
  padding: 5px;
  border : 1px solid #e6343d;
  color : #e6343d;
  border-radius: 10px;
}

/* status styles end */