@font-face {
  font-family:"advent" ;
  src: url("./assets/fonts/AdventPro-Regular.ttf");
}

body {
  margin: 0;
  font-family:"advent";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
